<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <h4 class="card-header text-center">Regisztráció</h4>

                <div class="card-body">
                    <form #registerform = "ngForm" (ngSubmit)="registerUser()">                        
                        <small class="text-danger">{{msg}}</small>

                        <!-- Vezetéknév -->
                        <div class="form-group row">
                            <label for="lastName" class="col-md-4 col-form-label text-md-right">Vezetéknév</label>

                            <div class="col-md-6">
                                <input type="text" class="form-control" name="lastName" autocomplete="lastName" required [(ngModel)]="user.lastName" #lastName = "ngModel"
                                [class.is-invalid]="lastName.invalid && lastName.touched">
                                <small class="text-danger" [class.d-none]="lastName.valid || lastName.untouched">A vezetéknév megadása kötelező!</small>
                            </div>
                        </div>

                        <!-- Keresztnév -->
                        <div class="form-group row mt-2">
                            <label for="firstName" class="col-md-4 col-form-label text-md-right">Keresztnév</label>

                            <div class="col-md-6">
                                <input id="firstName" type="text" class="form-control" name="firstName" autocomplete="firstName" required [(ngModel)]="user.firstName" #firstName = "ngModel"
                                [class.is-invalid]="firstName.invalid && firstName.touched">
                                <small class="text-danger" [class.d-none]="firstName.valid || firstName.untouched">A keresztnév megadása kötelező!</small>
                            </div>
                        </div>

                        <!-- E-mail -->
                        <div class="form-group row mt-2">
                            <label for="email" class="col-md-4 col-form-label text-md-right">E-mail cím</label>

                            <div class="col-md-6">
                                <input type="email" class="form-control" name="email" required autocomplete="email" [(ngModel)]="user.email" #email = "ngModel"
                                       [class.is-invalid]="email.invalid && email.touched" pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$">
                                <div *ngIf="email.errors && (email.invalid && email.touched)">
                                    <small class="text-danger" *ngIf="email.errors.required">Az e-mail megadása kötelező!</small>
                                    <small class="text-danger" *ngIf="email.errors.pattern">A megadott formátum nem megfelelő!</small>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Jelszó -->
                        <div class="form-group row mt-2">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Jelszó</label>

                            <div class="col-md-6">
                                <input type="password" class="form-control" name="password" required autocomplete="password" [(ngModel)]="user.password"
                                #password="ngModel" [class.is-invalid]="password.invalid && password.touched">
                                <small class="text-danger" [class.d-none]="password.valid || password.untouched">A jelszó megadása kötelező!</small>
                            </div>
                        </div>

                        <!-- Telefonszám -->
                        <div class="form-group row mt-2">
                            <label for="tel" class="col-md-4 col-form-label text-md-right">Telefonszám</label>

                            <div class="col-md-6">
                                <input type="text" class="form-control" name="tel" required autocomplete="tel" [(ngModel)]="user.tel" #tel="ngModel"
                                [class.is-invalid]="tel.invalid && tel.touched">
                                <small class="text-danger" [class.d-none]="tel.valid || tel.untouched">A telefonszám megadása kötelező!</small>
                            </div>
                        </div>

                        <!-- Cím -->
                        <div class="form-group row mt-2">
                            <label for="address" class="col-md-4 col-form-label text-md-right">Cím</label>

                            <div class="col-md-6">
                                <input type="text" class="form-control" name="address" required autocomplete="address" [(ngModel)]="user.address" #address="ngModel"
                                [class.is-invalid]="address.invalid && address.touched">
                                <small class="text-danger" [class.d-none]="address.valid || address.untouched">A cím megadása kötelező!</small>
                            </div>
                        </div>

                        <div class="form-group row mb-0 mt-3">
                            <div class="text-center">
                                <button [disabled]="registerform.form.invalid" type="submit" class="btn btn-secondary">
                                    Regisztráció
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>